body{
    margin-top: 10px;
    height: 100vh
}

.app-container{
    display: flex;
}

.left-pane, .right-pane{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.left-pane{
    margin-right: 10px;
}

.tab-buttons{
    background-color: #eee;
    padding: 0.5em;
}

.tab-buttons button{
    height: 3em;
    margin: 0 0.2em;
    cursor: pointer;
    font-size: 1em;
}

iframe{
    flex-grow: 1;
    border: none;
    height: 90vh;
}

@media screen and (max-width: 768px){
    .right-pane{
        display: none;
    }

    .left-pane{
        width: 100%;
        margin-right: 0;
    }
}